---
import { PROJECTS } from '@/lib/projects'
import type { Project } from '@types'
import ProjectsColumn from './ProjectsColumn.astro'

export interface ExploreProject extends Project {
  index: number
}

// Distribute projects into two columns for layout purposes
const projectColumns: ExploreProject[][] = [[], []]
const singleProjectColumn: ExploreProject[] = []

for (let i = 0; i < PROJECTS.length; i++) {
  const project = { ...PROJECTS[i], index: i }
  const columnIndex = i % 2

  projectColumns[columnIndex].push(project)
  singleProjectColumn.push(project)
}
---

<div class='w-full gap-8 md:flex hidden'>
  <ProjectsColumn projects={projectColumns[0]} />
  <ProjectsColumn projects={projectColumns[1]} class='translate-y-32' />
</div>

<ProjectsColumn projects={singleProjectColumn} class='md:hidden' />
