---
import type { Project } from '@types'
import { twMerge } from 'tailwind-merge'
import ProjectTile from './ProjectTile.astro'

interface Props {
  projects: Project[]
  class?: string
}

const { projects, class: className } = Astro.props
---

<div class={twMerge(`flex flex-col w-full gap-8 ${className}`)}>
  {projects.map((proj) => <ProjectTile {...proj} />)}
</div>
