---
import Layout from '@/layouts/Layout.astro'
import { CopyText } from '@@/CopyText.tsx'
import { ContactForm } from '@@/contact-form/ContactForm'
import { EMAIL, TITLE_ENDING } from '@consts'
---

<Layout title={`Contact${TITLE_ENDING}`} class='[&>main]:gap-16'>
  <section class='margin-top-page flex gap-8 flex-col text-3xl font-poppins'>
    <h1
      class='font-poppins text-7xl max-w-4xl text-white font-bold gradient-subtitle [&>strong]:text-strong-gradient'
    >
      Let’s <strong>build</strong> something <strong>great</strong> together.
    </h1>
    <p class='text-zinc-300 text-pretty max-w-4xl'>
      Got a question or a project idea? Drop me a message here or email me
      directly at

      <CopyText
        className='text-light-gradient [&>svg]:text-[#9998fd]'
        client:idle>{EMAIL}</CopyText
      >
    </p>
  </section>

  <ContactForm client:load />
</Layout>
