---
import Layout from '@/layouts/Layout.astro'
import PageSection from '@@/PageSection.astro'
import Socials from '@@/Socials.astro'
import Title from '@@/Title.astro'
import { ArrowDiagonalIcon } from '@@/icons'
import StarredProjects from '@@/projects/starred-projects/StarredProjects.astro'
import { SECTIONS } from '@consts'
---

<Layout title="Kevin's Portfolio — Fullstack Developer">
  <PageSection id='home' class='xl:mt-72 sm:mt-48 mt-40'>
    <h1
      class='text-white text-6xl md:text-8xl sm:text-7xl font-bold text-nowrap flex flex-wrap gap-3 sm:mb-0 mb-1'
    >
      <span>Hi,</span>
      <span>I’m Kevin</span>
    </h1>
    <h2
      class='text-2xl text-pretty sm:text-3xl font-normal text-white max-w-[730px] mt-4'
    >
      <strong>Fullstack Developer</strong> with 2 years building responsive, fast,
      and maintainable
      <strong>Web Applications</strong>.
    </h2>

    <Socials />
  </PageSection>

  <PageSection class='gap-8' id='projects'>
    <div class='flex flex-col gap-3 text-nowrap'>
      <Title {...SECTIONS.PROJECTS} />
      <span
        class='text-white/75 font-light text-lg flex items-center gap-1.5 flex-wrap'
      >
        Click on a project to know more or
        <a
          class='flex items-center gap-1 text-white font-normal hover:underline'
          href='/projects'
        >
          explore all my projects
          <ArrowDiagonalIcon className='size-4 stroke-[3px]' />
        </a>
      </span>
    </div>

    <StarredProjects />
  </PageSection>

  <PageSection class='gap-6' id='about'>
    <Title {...SECTIONS.ABOUT} />
    <div
      class='text-xl font-light text-gray-200 flex flex-col gap-5 text-pretty max-w-4xl'
    >
      <p>
        I'm Kevin Rodriguez, a final-year engineering student and
        <strong>Fullstack Developer</strong> with 2 years of experience shipping
        projects from concept to production.
      </p>
      <p>
        I specialize in building responsive, fast, and scalable web applications
        that people <strong>enjoy</strong> using. Known for strong
        <strong>attention to detail</strong> and <strong>problem-solving</strong
        >, I adapt quickly across the stack to deliver clean, reliable products
        and innovative solutions.
      </p>
    </div>
  </PageSection>
</Layout>

<style is:global>
  @import 'tailwindcss';

  #home h3 strong {
    @apply bg-clip-text text-transparent font-extrabold bg-linear-to-r from-[#8e63f3] to-[#5d6bff];
  }
  #about p {
    strong {
      @apply bg-clip-text text-transparent bg-linear-to-l from-[#9998fd] to-[#b09eec] font-semibold;
    }
    a {
      @apply text-white hover:underline;
    }
  }
</style>
