---
import { Cat } from '@@/Cat'
import Link from '@@/Link.astro'
import { SOCIALS } from '@consts'
const slicedSocials = SOCIALS.slice(1)
---

<footer
  class={`
    mb-12 flex flex-col-reverse gap-5 
    md:flex-row justify-between xl:gap-24 md:gap-12
    mt-auto
  `}
>
  <aside class='flex gap-8 items-center justify-between md:justify-start'>
    <div class='flex gap-4'>
      {
        slicedSocials.map(({ label, icon: Icon, link }) => (
          <Link name={label} href={link} class='border-none bg-transparent'>
            <Icon className='md:size-8 size-6 text-white' />
          </Link>
        ))
      }
    </div>
    <small class='text-xs font-light text-zinc-400 sm:text-nowrap'>
      Cat sprites borrowed from
      <a
        class='text-zinc-200 hover:underline'
        aria-label='Stardew Valley website'
        href='https://www.stardewvalley.net'
        target='_blank'
      >
        Stardew Valley
      </a>
    </small>
  </aside>
  <div class='w-full relative'>
    <Cat client:load />
  </div>
</footer>
