<div
  id='app-background'
  class={`
		fixed top-0 left-0 -z-50 h-screen w-full bg-[rgb(6_6_11)]
    [&>div]:fixed [&>div]:rounded-full [&>div]:blur-3xl
	`}
>
  <div class='bg-violet-700/10 left-[12vw] top-[21vh] size-[32vw]'></div>
  <div class='bg-indigo-600/16 right-[19vw] top-[7vh] size-[29vw]'></div>
</div>

<style>
  @import 'tailwindcss';

  #app-background {
    --color: #ffffff08;
    --thickness: 1px;
    --size: 4rem;
    --offset: 2.5rem;

    background-image:
      linear-gradient(
        to right,
        var(--color) var(--thickness),
        transparent var(--thickness)
      ),
      linear-gradient(
        to bottom,
        var(--color) var(--thickness),
        transparent var(--thickness)
      );

    background-size: var(--size) var(--size);
    background-position: var(--offset) var(--offset);

    div {
      animation: blur-pulse 2s ease-in-out both alternate infinite;

      &:nth-child(2) {
        animation-delay: 500ms;
        animation-duration: 2.5s;
      }
    }
  }

  @keyframes blur-pulse {
    from {
      scale: 1;
      opacity: 1;
    }
    to {
      scale: 1.25;
      opacity: 0.9;
    }
  }
</style>
