---
interface Props {
  class?: string
  id?: string
}

const propClass = Astro.props.class ?? ''
const id = Astro.props.id ?? ''
---

<section class={`flex flex-col ${propClass}`} id={id}>
  <slot />
</section>
