---
import { twMerge } from 'tailwind-merge'

interface Props {
  label: string
  icon: any
  class?: string
}
const { label, icon: Icon, class: className } = Astro.props
---

<h3
  class={twMerge('flex items-center gap-3 opacity-0', className)}
  scroll-fade={1}
>
  <Icon className='size-10 text-white stroke-[1.5]' />
  <span class='text-4xl text-white font-semibold'>
    {label}
  </span>
</h3>
