---
import Layout from '@/layouts/Layout.astro'
import PageSection from '@@/PageSection.astro'
import Title from '@@/Title.astro'
import { CodeIcon } from '@@/icons'
import ExploreProjects from '@@/projects/explore-projects/ExploreProjects.astro'
---

<Layout title="Explore Projects — Kevin's Portfolio">
  <PageSection class='gap-12 pb-20'>
    <div class='flex flex-col gap-3 text-nowrap margin-top-page'>
      <Title label='Starred projects' icon={CodeIcon} />
      <span
        class='text-white/75 font-light text-lg flex items-center gap-1.5 flex-wrap'
      >
        Click on a project to know more.
      </span>
    </div>

    <ExploreProjects />
  </PageSection>
</Layout>
