---
import AppFooter from '@@/AppFooter.astro'
import Background from '@@/Background.astro'
import AppNavigationBar from '@@/app-navigation-bar/AppNavigationBar.astro'
import { twMerge } from 'tailwind-merge'

import '../../node_modules/@k3vndev/react-carousel/dist/index.css'
import '../styles.css'

interface Props {
  title: string
  description?: string
  class?: string
}

const {
  title,
  description = 'Software developer focused on Web Development. Specialized on building enjoyable web experiences.',
  class: className = '',
} = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='shortcut icon' href='/icon.svg' type='image/x-icon' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class={twMerge(
      `bg-[#151515] overflow-x-hidden flex justify-center ${className} min-h-dvh`
    )}
  >
    <AppNavigationBar />

    <main class='flex flex-col md:gap-52 gap-40 max-w-page w-full'>
      <slot />
      <AppFooter />
    </main>

    <Background />
  </body>
</html>
